<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2001</title>
</head>
<body>
        <div><h1>2001 game</h1></div>
        <div><h2>Play the game 2001 with your computer</h2></div>
        <div><b>Rules of the game</b></div><br>
        <div><b>1.</b> Each player starts with a number of points equal to 0.<br>
            <b>2.</b> In his/her turn, a player rolls 2 dice.<br>
            <b>3.</b> The number of meshes thrown is added to the total number of points.<br>
            <b>4.</b> Starting from the second turn: <br>
            &nbsp;&nbsp;&nbsp; if the player throws a 7, he divides his number of points by this value discarding the fractional part, <br>
            &nbsp;&nbsp;&nbsp; if he throws out 11, he multiplies the current number of points by this value.<br>
            <b>5.</b> The player who gets 2001 points first wins.</div><br>


        <form method = "post">
            <select name = dices> Choose the dice to roll!
                <option value="2D3">2D3</option>
                <option value="2D4">2D4</option>
                <option value="2D6">2D6</option>
                <option value="2D8">2D8</option>
                <option value="2D10">2D10</option>
                <option value="2D12">2D12</option>
                <option value="2D20">2D20</option>
                <option value="2D100">2D100</option>
            </select><br>
            <input type="submit" value="Roll!">
            <div>Your points: {{user_points}}<br>
                Computer points: {{computer_points}}</div>
        </form>

        {% if user_points > computer_points %}
        <div>You win!</div>
        {% elif computer_points > user_points %}
        <div>Computer win!</div>
        {% else %}
        <div>Draw!</div>
        {% endif %}
</body>
</html>